In [1]:
#import pandas dependency
import pandas as pd

In [2]:
# read in vine table csv
vine_df = pd.read_csv('/Users/musicmatters/Documents/Data/VandyBootcamp/Amazon_Vine_Analysis/resources/vine_table.csv')
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RTIS3L2M1F5SM,5,0,0,N,Y
1,R1ZV7R40OLHKD,5,0,0,N,Y
2,R3BH071QLH8QMC,1,0,1,N,Y
3,R127K9NTSXA2YH,3,0,0,N,Y
4,R32ZWUXDJPW27Q,4,0,0,N,Y

In [4]:
# Filter DF by total votes greater than 20
total_votes_df = vine_df[vine_df['total_votes'] >= 20]
total_votes_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
289,R3EZ0EPYLDA34S,1,14,31,N,Y
483,R2FJ94555FZH32,2,55,60,N,N

In [5]:
# Begin process of filtering by helpful vote % > 50 by adding a new column with calculation
total_votes_df['helpful_percentage'] = total_votes_df.apply(lambda row: row.helpful_votes / 
                                  row.total_votes, axis = 1)

In [6]:
total_votes_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful_percentage
55,R4PKAZRQJJX14,1,21,34,N,N,0.617647
74,R2CI0Y288CC7E2,1,21,35,N,Y,0.600000
209,R127WEQY2FM1T3,1,147,175,N,Y,0.840000
289,R3EZ0EPYLDA34S,1,14,31,N,Y,0.451613
483,R2FJ94555FZH32,2,55,60,N,N,0.916667

In [7]:
# create filtered df by helpful vote %
helpful_df = total_votes_df[total_votes_df['helpful_percentage'] >= .5]

In [8]:
helpful_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful_percentage
55,R4PKAZRQJJX14,1,21,34,N,N,0.617647
74,R2CI0Y288CC7E2,1,21,35,N,Y,0.600000
209,R127WEQY2FM1T3,1,147,175,N,Y,0.840000
483,R2FJ94555FZH32,2,55,60,N,N,0.916667
537,R1U3AR67RE273L,1,51,65,N,Y,0.784615

In [9]:
# Filter by vine reviews only
helpful_vine_df = helpful_df[helpful_df['vine'] == 'Y']
helpful_vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful_percentage
32611,R3KKUSGFZWSUIY,5,56,63,Y,N,0.888889
33112,R10FO5UKKVZBK2,3,23,23,Y,N,1.000000
69680,RM4KSGEOR7MU1,5,19,24,Y,N,0.791667
155361,RG7VRMYLEXD23,4,22,26,Y,N,0.846154
239327,R11O4YSCPSNL6L,3,20,26,Y,N,0.769231

In [10]:
# Filter by unpaid accounts
notvine_helpful_df = helpful_df[helpful_df['vine'] == 'N']

In [11]:
notvine_helpful_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful_percentage
55,R4PKAZRQJJX14,1,21,34,N,N,0.617647
74,R2CI0Y288CC7E2,1,21,35,N,Y,0.600000
209,R127WEQY2FM1T3,1,147,175,N,Y,0.840000
483,R2FJ94555FZH32,2,55,60,N,N,0.916667
537,R1U3AR67RE273L,1,51,65,N,Y,0.784615

In [12]:
helpful_vine_df['star_rating'].value_counts()

5    48
4    24
3    16
2     5
1     1
Name: star_rating, dtype: int64

In [13]:
notvine_helpful_df['star_rating'].value_counts()

5    15663
1    10303
4     6738
3     4379
2     3388
Name: star_rating, dtype: int64